#root {
  width: 100vw;
}

body {
  display: block;
}

.container {
  background-color: white;
}

.fade-in-container {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in-active-container {
  opacity: 1;
}