.images-gallery-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

#larger-img {
    grid-column: span 2;
    grid-row: span 2;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 1;
    grid-row: span 1;
}